* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Lato', sans-serif;
  background: linear-gradient(to top, #dcdbd2 85%, #009688 15%);
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  height: 95vh;
  width: 80vw; /* Modifica questo */
  border: 1px solid red;
  background-color: #ffffff;
  display: flex;
}

.left-sidebar {
  width: 35%;
  height: 100%;
  border: 1px solid purple;
}

.right-section {
  flex-grow: 1;
  border: 1px solid green;
}
