* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Lato', sans-serif;
  background: linear-gradient(to top, #dcdbd2 85%, #009688 15%);
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  height: 95vh;
  width: 80vw; /* Modifica questo */
  border: 1px solid red;
  /* background-color: #ffffff; */
  background-color: lightsteelblue;
  display: flex;
}

.left-sidebar {
  width: 35%;
  height: 100%;
  border: 1px solid purple;
}

.right-section {
  flex-grow: 1;
  border: 1px solid green;
}

/*
--------------------
LEFT SECTION
--------------------
*/
.header-left {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  background-color: darkolivegreen;
}

/* profile */
.cont-foto {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  overflow: hidden;
}

.cont-foto img {
  height: 100%;
}

.profile-left {
  display: flex;
  gap: 20px;
  align-items: center;
}

.info-profilo {
  display: flex;
  flex-direction: column;
}

.icons-myprofile {
  display: flex;
  gap: 20px;
}

.icons-myprofile i {
  font-size: 20px;
  color: #b1b1b1;
}

/* Notifications */
.notifications {
  background-color: #8edafc;
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px 20px;
}

.cont-bell-icon {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffff;
}

.cont-bell-icon i {
  font-size: 20px;
  color: #8edafc;
}

.notif-title {
  font-size: 12px;
  font-weight: 800; /* sistemare font weight*/
}

.notifications a {
  font-size: 14px;
  color: #4f7485;
}
